{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/includes/post.css' %}">
{% endblock css_files %}

            <li>
                <article class="post">
                    <a href="{% url "post_detail" "the-mountains"%}">
                        <img src="{% static "blog/images/mountains.jpeg" %}" alt="hiking" />
                        <div class="post__content">
                            <h3>Mountain Hiking</h3>
                            <p>Meow mountains, woof, moo, oink</p>
                        </div>
                    </a>
                </article>
            </li>